body { font-family: 'Helvetica'; padding: 0px; margin: 0px; }

div.main { min-height: 100%; }
div.header { display: block; height: 30px; margin: 0px; padding: 5px;
	border-style: solid; border-width: 0px 0px 1px 0px; border-color: #777;
	background-color: #eee; }
div.leftbar { float: left; width: 14%; padding: 5px; min-height: 100%;
	border-style: solid; border-width: 0px 1px 0px 0px; border-color: #777; }
div.content { margin: 0% 0% 0% 15%; padding: 5px; }

h3 { margin: inherit; padding: inherit; }