<doctype html>
<title>Page Title</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<div class="main">
	<div class="header">
		<h3 class="header">Welcome to My Site</h3>

		<div class="login">
			{% if session.logged_in %}
			Welcome back, {{ current_user.username }}!
			{% else %}
			<a href="{{ url_for('login') }}">Login</a> <a href="{{ url_for('register') }}">Register</a>
			{% endif %}
		</div>
	</div>
	<div class="leftbar">
		<h3>Links</h3>
		<ul>
			<li><a href="{{ url_for('index') }}"></a></li>
		</ul>
	</div>

	<div class="content">
	{% block content %}
	{% endblock %}
	</div>
</div>